{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="auth-box">
    <h2>Reset Password 🔑</h2>
    <p class="subtitle">Enter your registered email</p>

    <form method="POST">
        <div class="form-group">
            <input type="email" name="email" placeholder="Enter your email" required>
        </div>

        <button type="submit" class="btn">Send Reset Link</button>
    </form>

    <p class="switch-link">
        <a href="{{ url_for('login') }}">Back to Login</a>
    </p>
</div>
{% endblock %}
